body {
    font-family: Arial, sans-serif;
    color: #222;
}

#row-number {
    color: #222;
    background-color: #cecece;
}

.bi-x-circle-container {
    display: inline-block;
    width: 35px;
    height: 37px;
    vertical-align: top;
    border: 1px solid #d6ae2b;
    border-left: 0px;
}

.bi-x-circle {
    display: inline-block;
    color: red;
    font-size: 20px;
    height: 35px;
    border: 0px;
    padding-top: 2px;
}

.mb-4 {
    width: 100%;
    margin-top: 0px !important;
    margin-bottom: 0px !important;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.btn.btn-primary {
    background-color: #facc32;
    color: #222;
    font-weight: 700;
    border: 0px;
}

.btn.btn-primary:hover {
    background-color: #d6ae2b;
    color: #222;
}

.clear-filters {
    margin-bottom: 20px !important;
}

.date-picker {
    width: calc(100% - 35px);
    margin-bottom: 30px;
    border-right: 0px;
}

.DateRangePicker {
    width: 100%;
    border: 1px solid #d6ae2b;
    border-right: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
}

.DateRangePickerInput {
    width: 100%;
    text-align: center;
    border: 0px;
}

.DayPicker {
    border: 2px solid #d6ae2b;
}

.CalendarMonthGrid {
    background-color: transparent;
}

.DateInput_input {
    padding: 7px 11px 4px;
    font-size: 16px;
    border: 0px;
    text-align: center;
}

.CalendarDay__hovered_span {
    background-color: #ffe48ac5;
    border-color: #666666;
    color: #222;
}

.CalendarDay__hovered_span:hover {
    background-color: #facc32;
    border-color: #666666;
    color: #222;
}

.CalendarDay__selected {
    background-color: #facc32;
    border-color: #666666;
    color: #222;
}

.CalendarDay__selected:hover {
    background-color: #d6ae2b;
    border-color: #666666;
    color: #222;
}

.CalendarDay__selected_span {
    background-color: #ffe48ac5;
    border-color: #666666;
    color: #222;
}

.CalendarDay__selected_span:hover {
    background-color: #facc32;
    border-color: #666666;
    color: #222;
}

.CalendarDay__no_selected_start_before_selected_end {
    background-color: crimson;
    color: white;
}

.CalendarDay__no_selected_start_before_selected_end:hover {
    background-color: crimson;
    color: white;
}

.DayPickerKeyboardShortcuts_show__bottomRight::before {
    border-right: 33px solid #facc32;
}

.DayPickerKeyboardShortcuts_show__bottomRight:hover::before {
    border-right: 33px solid #d6ae2b;
}

.label {
    font-weight: bold;
    background-color: #ffe48a6d;
    padding: 5px 10px;
    border: 1px solid #d6ae2b;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    width: 100%;
}

.form-label {
    margin: 0px;
}

.dropdown {
    width: 100%;
    border: 1px solid #d6ae2b;
    border-radius: 0px;
}

.Select-control {
    border: transparent;
}

.VirtualizedSelectOption {
    font-size: 0.9rem;
}

.VirtualizedSelectFocusedOption {
    background-color: #ffe48ac5;
    color: #222;
}

.Select--multi .Select-value {
    background-color: transparent;
    border: none;
}

.Select-value-label {
    color: #222;
    background-color: #ffe48ac5;
    border: 1px solid #facc32;
    padding: 2px 5px;
    border-radius: 2px;
    font: 14.4px Arial, sans-serif;
}

.Select-value-icon,
.Select--multi .Select-value-icon:hover,
.Select--multi .Select-value-icon:active {
    color: crimson;
    background-color: #ffe48ac5;
    border: 1px solid #facc32;
}

.table-container {
    position: relative;
    height: calc(100vh - 99px);
    overflow-y: auto;
    padding: 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 0rem !important;
}

.table-sm th {
    position: sticky;
    top: 0;
    height: 46px;
    background-color: #facc32;
    z-index: 100;
    border: 1px solid #FFF;
    border-bottom: 2px solid #222;
    white-space: nowrap;
    text-align: center !important;
    vertical-align: middle;
    color: #222;
    padding-top: 10px !important;
    padding-bottom: 10px !important;
}

.table-sm tbody tr td {
    position: relative;
    z-index: 0;
}

.table-sm td {
    white-space: nowrap;
    font-family: Courier, monospace;
}

/* Set specific widths for columns */
.table-sm th:nth-child(1),
.table-sm td:nth-child(1) {
    width: fit-content;
    padding: 3px 20px;
    text-align: center;
    vertical-align: middle;
}

.table-sm th:nth-child(2),
.table-sm td:nth-child(2) {
    width: fit-content;
    padding: 3px 20px;
    text-align: center;
    vertical-align: middle;
}

.table-sm th:nth-child(3),
.table-sm td:nth-child(3) {
    width: fit-content;
    padding: 3px 20px;
    text-align: center;
    vertical-align: middle;
}

.table-sm th:nth-child(4),
.table-sm td:nth-child(4) {
    width: fit-content;
    padding: 3px 20px;
    text-align: left;
    vertical-align: middle;
}

.table-sm th:nth-child(5),
.table-sm td:nth-child(5) {
    width: fit-content;
    padding: 3px 20px;
    text-align: left;
    vertical-align: middle;
}

.table-sm th:nth-child(6),
.table-sm td:nth-child(6) {
    width: fit-content;
    padding: 3px 20px;
    text-align: center;
    vertical-align: middle;
}

.table-sm th:nth-child(7),
.table-sm td:nth-child(7) {
    width: fit-content;
    padding: 3px 20px;
    text-align: center;
    vertical-align: middle;
}

.table-sm th:nth-child(8),
.table-sm td:nth-child(8) {
    width: fit-content;
    padding: 3px 20px;
    text-align: center;
    vertical-align: middle;
}

.table-sm th:nth-child(9),
.table-sm td:nth-child(9) {
    width: fit-content;
    padding: 3px 20px;
    text-align: center;
    vertical-align: middle;
}

.table-sm th:nth-child(10),
.table-sm td:nth-child(10) {
    width: fit-content;
    padding: 3px 20px;
    text-align: center;
    vertical-align: middle;
}

.table-sm th:nth-child(11),
.table-sm td:nth-child(11) {
    width: fit-content;
    padding: 3px 20px;
    text-align: left;
    vertical-align: middle;
}

.table-sm th:nth-child(12),
.table-sm td:nth-child(12) {
    width: fit-content;
    padding: 3px 20px;
    text-align: left;
    vertical-align: middle;
    white-space: wrap;
}

.table-sm th:nth-child(13),
.table-sm td:nth-child(13) {
    width: fit-content;
    padding: 3px 20px;
    text-align: center;
    vertical-align: middle;
}

.table-sm th:nth-child(14),
.table-sm td:nth-child(14) {
    width: fit-content;
    padding: 3px 20px;
    text-align: center;
    vertical-align: middle;
}

.table-sm th:nth-child(15),
.table-sm td:nth-child(15) {
    width: fit-content;
    padding: 3px 20px;
    text-align: center;
    vertical-align: middle;
}

.table-sm th:nth-child(16),
.table-sm td:nth-child(16) {
    width: fit-content;
    padding: 3px 20px;
    text-align: center;
    vertical-align: middle;
}

.table-sm th:nth-child(17),
.table-sm td:nth-child(17) {
    width: fit-content;
    padding: 3px 20px;
    text-align: center;
    vertical-align: middle;
}

.table-sm th:nth-child(18),
.table-sm td:nth-child(18) {
    width: fit-content;
    padding: 3px 20px;
    text-align: center;
    vertical-align: middle;
}

.table-sm th:nth-child(19),
.table-sm td:nth-child(19) {
    width: fit-content;
    padding: 3px 20px;
    text-align: center;
    vertical-align: middle;
}

.table-sm th:nth-child(20),
.table-sm td:nth-child(20) {
    width: fit-content;
    padding: 3px 20px;
    text-align: center;
    vertical-align: middle;
}

.table-sm th:nth-child(21),
.table-sm td:nth-child(21) {
    width: fit-content;
    padding: 3px 20px;
    text-align: center;
    vertical-align: middle;
}

.table-sm th:nth-child(22),
.table-sm td:nth-child(22) {
    width: fit-content;
    padding: 3px 20px;
    text-align: center;
    vertical-align: middle;
}

.table-sm th:nth-child(23),
.table-sm td:nth-child(23) {
    width: fit-content;
    padding: 3px 20px;
    text-align: center;
    vertical-align: middle;
}

.table-sm th:nth-child(24),
.table-sm td:nth-child(24) {
    width: fit-content;
    padding: 3px 20px;
    text-align: center;
    vertical-align: middle;
}

.table-sm th:nth-child(25),
.table-sm td:nth-child(25) {
    width: fit-content;
    padding: 3px 20px;
    text-align: center;
    vertical-align: middle;
}

.table-sm th:nth-child(26),
.table-sm td:nth-child(26) {
    width: fit-content;
    padding: 3px 20px;
    text-align: center;
    vertical-align: middle;
}

#page-display {
    margin: 0 10px;
}

#avg-visit-days-slider {
    padding: 0px 8px 25px !important;
    margin-top: 10px;
}

#avg-aesthetic-score-slider {
    padding: 0px 8px 25px !important;
    margin-top: 10px;
}

#avg-lai-score-slider {
    padding: 0px 8px 25px !important;
    margin-top: 10px;
}

#exclusivity-rate-slider {
    padding: 0px 8px 25px !important;
    margin-top: 10px;
}

#acceptance-rate-slider {
    padding: 0px 8px 25px !important;
    margin-top: 10px;
}

.row {
    margin-bottom: 30px;
}

.dash-input {
    width: 100%;
    border: 1px solid #d6ae2b;
    padding: 5px 10px;
}

.rc-slider.rc-slider-with-marks {
    margin-bottom: 30px;
}

.rc-slider-track {
    background-color: #facc32;
}

.rc-slider-dot,
.rc-slider-dot-active,
.rc-slider-dot-hover,
.rc-slider-handle,
.rc-slider-handle-click-focused,
.rc-slider-handle-click-focused:hover,
.rc-slider-handle-click-focused:focus {
    background-color: #facc32;
    border: 2px solid #d6ae2b;
    border-color: #d6ae2b;
}

.rc-slider-handle-hover,
.rc-slider-handle:hover,
.rc-slider-handle-active,
.rc-slider-handle-dragging.rc-slider-handle-dragging.rc-slider-handle-dragging {
    background-color: #facc32;
    border-color: #d6ae2b;
    box-shadow: 0 0 0 5px #d6ae2b;
}

.table-hover>tbody>tr:hover>* {
    --bs-table-color-state: var(--bs-table-hover-color);
    --bs-table-bg-state: #ffe48a6d;
}

/* Remove default loading spinner */
#loading-1.loading-wrapper > div:first-child {
    display: none;
}

/* Add blur effect to content while loading */
#loading-1.loading-wrapper._dash-loading {
    filter: blur(2px);
    opacity: 0.7;
    transition: all 0.3s ease;
}

/* Position the loading spinner */
._dash-loading {
    position: fixed !important;
    top: 50vh !important;
    left: 37.5vw !important;
    transform: translate(-50%, -50%) !important;
    z-index: 1000;
}

/* Loading overlay */
._dash-loading-callback {
    position: fixed;
    top: 0;
    left: 0;
    width: 75vw;
    height: 100vh;
    background-color: rgba(255, 255, 255, 0.5);
    cursor: progress;
}